.list {
  width: 80%;
  margin: 30px auto;
  text-align: center;
}

.listItem {
  margin: 5px auto;
  display: inline-block;
  width: 200px;
  background-color: #ffe1d4;
  border: 1px solid rgb(199, 199, 199);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s; /* Animation */
}

.listItem > h3 {
  font-weight: normal;
  text-transform: uppercase;
  height: 2em;
}

.listItem.active {
  transform: scale(1.2);
  z-index: 1;
}

.imgWrapper,
.imgWrapper > div > div,
.imgWrapper caption {
  height: 150px;
  padding-bottom: 60% !important; /* your aspect ratio */
}

.imgWrapper caption {
  margin: 0;
}

.zoom {
  transition: transform 0.2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.2);
  z-index: 1;
}
