.featureList {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

#featureStyle {
  list-style: none;
  margin-top: 20px;
  /* margin-left: 15%; */
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}

#featureStyle li:before {
  content: "✓";
  color: green;
  font-weight: bold; /* If you want it to be bold */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
  margin-right: 5px;
}
